@use "sass:map";

$breakpoint-tablet: 768px;
$breakpoint-phone: 412px;

$typography-map:(
        "lable-large":(
                "line-height": 20px,
                "size": 14px,
                "tracking": 0.1px,
                "weight": 500
        ),
        "lable-medium":(
                "line-height": 16px,
                "size": 12px,
                "tracking": 0.5px,
                "weight": 500
        ),
);

@mixin apply-font($font-style){
  $font-map: map.get($typography-map, $font-style);

  line-height: map.get($font-map, "line-height");
  font-size: map.get($font-map, "size");
  letter-spacing: map.get($font-map, "tracking");
  font-weight: map.get($font-map, "weight");
}

@mixin typography-lable-large{
  @include apply-font("lable-large");
}

@mixin typography-lable-medium{
  @include apply-font("lable-medium");
}

//@mixin typography-body-medium{
//  @include apply-font("body-medium");
//}

:root {
  color-scheme: light dark;

  //light theme colors
  --md-sys-color-background-light: rgb(248 249 255);
  --md-sys-color-on-background-light: rgb(25 28 32);
  --md-sys-color-surface-container-light: rgb(236 238 244);
  --md-sys-color-on-surface-light: rgb(25 28 32);
  --md-sys-color-on-surface-variant-light: rgb(67 71 78);

  //dark theme colors
  --md-sys-color-background-dark: rgb(17 20 24);
  --md-sys-color-on-background-dark: rgb(225 226 232);
  --md-sys-color-surface-container-dark: rgb(29 32 36);
  --md-sys-color-on-surface-dark: rgb(225 226 232);
  --md-sys-color-on-surface-variant-dark: rgb(195 198 207);

  //theme colors
  --md-sys-color-background: light-dark(var(--md-sys-color-background-light), var(--md-sys-color-background-dark));
  --md-sys-color-on-background: light-dark(var(--md-sys-color-on-background-light), var(--md-sys-color-on-background-dark));
  --md-sys-color-surface-container: light-dark(var(--md-sys-color-surface-container-light), var(--md-sys-color-surface-container-dark));
  --md-sys-color-on-surface: light-dark(var(--md-sys-color-on-surface-light), var(---md-sys-color-on-surface-dark));
  --md-sys-color-on-surface-variant: light-dark(var(--md-sys-color-on-surface-variant-light), var(--md-sys-color-on-surface-variant-dark));
}

html, body {
  margin: 0;
  height: 100dvh;
}

body {
  display: grid;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}

.material-symbols-outlined {
  font-variation-settings:
          'FILL' var(--icon-fill, 0),
          'wght' 400,
          'GRAD' 0,
          'opsz' 24;
  @media((width > #{$breakpoint-phone}) or (width < #{$breakpoint-tablet})){
    display: grid;
    justify-items: center;
    align-items: center;
    height: 32px;
  }
}

.container{
  display: grid;
}

.navigation-drawer{
  display: grid;
  width: 360px;
  align-content: center;
  @include typography-lable-large;

  @media(width < #{$breakpoint-tablet}) {
    //width: 100%;
    display: none;

  }

}

.navigation-drawer__list{

}

.navigation-drawer__list-group__item{
  display: grid;
  //background-color: var(--md-sys-color-surface-container);
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 12px;
  height: 56px;
  padding-left: 16px;
  padding-right: 24px;

  &-text{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: var(--md-sys-color-on-background);
  }

  &-text span{
    display: flex;
    //flex-direction: row;
  }

  &:hover {
    --_state-layer-display: block;
    background-color: var(--md-sys-color-surface-container);
    border-radius: 16px;
    --icon-fill: 1;
  }
    &::after{
      display: var(--_state-layer-display);
      content: '';
      position: absolute;
      inset: 0;
      //background-color: currentColor;
      opacity: 0.08;
      z-index: -1;
      border-radius: 12px;
  }
}

.navigation-drawer__list-group{
  list-style: none;
  padding: 0 12px 0 12px;
  margin: 0;
}

.navigation-drawer__list-group-headline{
  padding-left: 28px;
}

.navigation-rail{
  display: grid;
  grid-template-rows: min-content min-content;
  align-content: center;
  justify-content: center;
  max-width: 80px;
  @include typography-lable-medium;
  @media((width < #{$breakpoint-phone}) or (width > #{$breakpoint-tablet})){
    display: none;
  }
}

.navigation-rail__list{
  display: grid;
  gap: 24px;
  width: 56px;
  //justify-content: space-between;
}

.navigation-rail__list-group{
  display: grid;
  padding: 0;
  list-style: none;
  //text-decoration: none;
  grid-template-rows: repeat(4, min-content);



  &__item{
    display: grid;
    gap: 16px;


    &__icon{
      display: grid;
      color: var(--md-sys-color-on-background);
      text-decoration: none;

    }

    &__text{
      display: grid;
      justify-items: center;
    }

    &__button{
      cursor: pointer;
      border: none;
      background: none;
      height: 32px;
    }

    &__button:active {
      background-color: #d371c7;
      border-radius: 16px;
    }

  }



  .navigation-rail__list-group__item__icon span:hover{
    //background-color: var(--md-sys-color-on-surface-variant-light);
    //border-radius: 16px;
    --_state-layer-display: block;
    background-color: var(--md-sys-color-surface-container);
    border-radius: 16px;
    --icon-fill: 1;

  }


  //&__item-icon{
  //  //display: grid;
  //  color: var(--md-sys-color-on-background);
  //  text-decoration: none;
  //  &:hover {
  //    --_state-layer-display: block;
  //    background-color: var(--md-sys-color-surface-container);
  //    border-radius: 16px;
  //    --icon-fill: 1;
  //  }
  //}
}